.profile__info {
    margin-left: 26px;
    margin-right: auto;
    margin-top: 62px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 336px;
}
@media screen and (max-width: 880px) {
    .profile__info {
        margin-top: 26px;
        margin-left: auto;
    }
}

@media screen and (max-width: 320px) {
    .profile__info {
        max-width: 282px;
        margin-left: 65px;
    }
}