.footer {
    color: #545454;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 67px;
    margin-bottom: 60px;
    max-width: 250px;
}

@media screen and (max-width: 1030px) {
    .footer {
        margin-left: 19px;
        font-size: 14px;
        margin-top: 48px;
        margin-bottom: 36px;
    }
}