.profile__info-title {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 900px) {
    .profile__info-title {
        text-align: center;
    }
}

@media screen and (max-width: 320px) {
    .profile__info-title {
        max-width: 189px;
        margin-left: 20px;
    }
}